.body {
    margin: 0;
}

.base {
    position: absolute;
    width: 1440px;
    height: 1069px;
    left: 0px;
    top: 0px;

    background: linear-gradient(0deg, rgba(241, 246, 253, 0) 1.63%, #F1F6FD 20.5%, #F1F6FD 58.57%, #FFFFFF 100%);
}

.community {
    position: absolute;
    width: 135px;
    height: 18px;
    left: 653px;
    top: 60px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;

    color: #217BF4;
}

.feature {
    position: absolute;
    width: 441px;
    height: 36px;
    left: 500px;
    top: 87px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;


    text-align: center;

    color: #0A093D;
}

.the-wase {
    position: absolute;
    width: 421px;
    height: 56px;
    left: 509px;
    top: 142px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;



    text-align: center;

    color: #656464;
}